image: maven:3.9.4-eclipse-temurin-21

stages:
  - test
  - build
  - docker

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  DOCKER_DRIVER: overlay2

before_script:
  - echo "Running on branch: $CI_COMMIT_REF_NAME"
  - export GRADLE_USER_HOME=`pwd`/.gradle

test:
  stage: test
  script:
    - mvn clean test

build:
  stage: build
  script:
    - mvn clean package -DskipTests

docker:
  stage: docker
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  only:
    - main
